<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVNAidsAjn735ybSz2tdTgf6fa8XMGeUk</string>
	<key>GCM_SENDER_ID</key>
	<string>733358440717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hydroGuide2</string>
	<key>PROJECT_ID</key>
	<string>hydroguide2-4a440</string>
	<key>STORAGE_BUCKET</key>
	<string>hydroguide2-4a440.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733358440717:ios:b027e341534648041e3044</string>
</dict>
</plist>